{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}KARTA SOPOCKA{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div class="topbar">
    <p><p/>
</div>
    <div id="header">
        <a href="{% url "dashboard" %}" class="logo"> #KARTA SOPOCKA</a>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url "dashboard" %}">HOME</a>
                </li>
                <li></li>
                <li {% if section == "image" %}class="selected"{% endif %}>
                    <a href="{% url "offer:offer_list" %}">OFERTA</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="{% url "cart:cart" %}">Jak zostać partnerem akcji</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="#">ASYSTENT MIESZKAŃCA</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Witaj, {{ request.user.first_name }}
                <a href="{% url "logout" %}">wyloguj</a>
            {% else %}
                <a href="{% url "login" %}">zaloguj</a>
            {% endif %}
        </span>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>