{% extends "base.html" %}
{% load static %}
{% block title %}HOME{% endblock %}
{% block content %}
    <!-- One -->
    <section id="one">
        <div class="inner">
            <header>
                <img src="media/banner/banner_foka_2.png" alt="MIŁO CIĘ TU WIDZIEĆ" width="1000" height="380">
            </header>
        </div>
    </section>
    <!-- Two -->
    <section id="two">
        <div class="two">
            <header>
                <h2>Poznaj wyjątkowe możliwości z jakich możesz skorzystać wraz z kartą mieszkańca Sopotu</h2>
            </header>
        </div>
    </section>
    <!-- Three -->
    <section id="three">
        <div class="gallery">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(145).jpg" alt="picture"/>
            <div class="srodek"><button type="button" class="gallery" data-rel="EDUKACJA">EDUKACJA</button></div>
        </div>
        <div class="gallery">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg" alt="picture"/>
            <div class="srodek"><button type="button" class="gallery" data-rel="GASTRONOMIA">GASTRONOMIA</button></div>
        </div>
        <div class="gallery">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg" alt="picture"/>
            <div class="srodek"><button type="button" class="gallery" data-rel="KULTURA I SZTUKA">KULTURA I SZTUKA</button></div>
        </div>
        <div class="gallery">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg" alt="picture"/>
            <div class="srodek"><button type="button" class="gallery" data-rel="OBIEKTY NOCLEGOWE">OBIEKTY NOCLEGOWE</button></div>
        </div>
        <div class="gallery">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(151).jpg" alt="picture"/>
            <div class="srodek"><button type="button" class="gallery" data-rel="SPORT">SPORT</button></div>
        </div>
        <div class="gallery">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(40).jpg" alt="picture"/>
            <div class="srodek"><button type="button" class="gallery" data-rel="USŁUGI">USŁUGI</button></div>
        </div>
        <div class="gallery">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(40).jpg" alt="picture"/>
            <div class="srodek"><button type="button" class="gallery" data-rel="ZAKUPY">ZAKUPY</button></div>
        </div>
        <div class="gallery">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(151).jpg" alt="picture"/>
            <div class="srodek"><button type="button" class="gallery" data-rel="ZDROWIE I URODA">ZDROWIE I URODA</button></div>
        </div>
    </section>
    <!-- Four -->

    <!-- Footer -->
    <div class="footer">
        <p>Design by @Damian @Anka @Ewelina </p>
    </div>

{% endblock %}