{% extends "base.html" %}

{% block title %}Jak zostać partnerem{% endblock %}

{% block content %}
  <h1>Jak zostać partnerem</h1>
  <p>Z Kartą Mieszkańca współpracuje już bardzo wiele firm, ale chcemy, by było ich jeszcze więcej!

Chcesz podjąć współpracę w projekcie? Sprawdź, jak to zrobić:

1. Zależy nam na atrakcyjnym rabacie, który będzie rzeczywiście odczuwalny dla użytkowników Karty Mieszkańca, czyli przynajmniej 15% na minimum jedną usługę. Rabat może dotyczyć całej lub części oferty, może być również uwarunkowany sezonowo, mogą Państwo już w trakcie trwania współpracy wprowadzać dodatkowe promocje.

2. Karta Mieszkańca nie działa na okaziciela! W celu kontroli kart konieczne jest korzystanie z aplikacji na telefonach z systemem android lub w przeglądarce (komputer z dostępem do Internetu). Decyzję dotyczącą przedłużenia współpracy podejmujemy w oparciu o statystyki użycia karty w obiekcie partnera.

3. Prezentacja partnera: potrzebujemy informacji o ofercie firmy i kilku zdjęć, które posłużą do celów promocyjnych. Opis powinien zawierać maksymalnie 600 znaków ze spacjami, a zdjęcia minimum 1600x1200 pikseli.

4. Oferta działań promocyjnych na rzecz partnera jest uzależniona od wysokości oferowanego rabatu. Wśród działań promocyjnych zapewniamy:
Pobierz Oferta korzyści dla Partnerów GKM.pdf

5. Zależy nam na jakości. Podejmując decyzję o dołączeniu partnera do Karty kierujemy się opiniami mieszkańców Gdańska. Analizujemy opinie na temat oferowanych usług oraz potrzeby mieszkańców wynikające z prowadzonych przez nas badań. Gwarantujemy sobie prawo do odmowy nawiązania współpracy, jeżeli oferta wykracza poza przyjęty przez nas kierunek rozwoju.

6. Napisz do nas na adres:</p>
{% endblock %}